QWEN_API_KEY=isi_api_key_qwen_kamu
QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
QWEN_MODEL=qwen-vl-max
BOT_NAME=Qwen Scalp Analyst
AUTH_FOLDER=./auth_info
MAX_IMAGE_MB=8
TIMEFRAME_HINT=1m,3m,5m,15m
ALLOWED_PRIVATE_NUMBERS=
